*{
	padding: 0;
	margin: 0;
}
img{
	border-radius: 50%;
	width:50px;
	height: 50px;
}
.leftGamePane{
	position: absolute;
	width : 500px;
	height: 610px;
	border: 1px solid black;

	background-image: url('Untitled.png')
}
.corona{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 180px;
}
.smiley{
	position: absolute;
	width: 50px;
	height:50px;
	top:350px;
	left: 350px;
	
}
.gameRightPane{
	position :absolute;
	right:0;
	width:205px;
	height:610px;
	border:1px solid black;
	top:0;
	background-image: url('Untitled2.png')
}
.scoreBox{
	position: absolute;
	right:0;
	width: 200px;
	height: 610px;

	top:10px;
	font-family: fantasy;
	font-weight:bold;
	text-align: center;
	font-size: 70px;
}
.nkki{
	position: absolute;
	top:20%;
	left: 5%;
}
#score{

}
